.letter{

	color: #00559b !important;
	background: #d9f0fe;

	border-radius: 50%;

	border-radius: 50%;

	display: inline-block;
	height: 2.5em;
	width: 2.5em;

	position: relative;
	margin:1em .5em;

}

.letter.is-checked{
	background: #A3E56A;
	font-weight:600
}

.letter.number{
	width:auto;
	height:auto;
	padding: 0em 1.55em;
	border-radius: .6rem;


}


.letter-number {
	border-bottom:1px solid #004F7F;
	width:100%;
}

.secondGrid .letter-number:last-of-type{
  border-bottom:none
}




.letter:hover{
	cursor: grab;
}

.letter p {
	font-size: 1.2em;
	/* position: absolute;
	width: auto;
	top: calc(50% - .72em);

	left:32%; */

	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	height: 35px;
	width: 35px;


}

.smallest {
	font-size: 10px !important;
	margin-top: 0;
	/* max-width: 30em; */
	line-height: 15px !important;
	text-align: center;
}

.letter.number p{
	width:auto;

}

.letter.is-active{
	background: #C4EDA1
}

.green-active{
	background: #C4EDA1
}


.hideInitial{
	display: none
}

.filter-attr-list {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-left: 0em;
	padding-left: 0rem;

}

.adult .secondGroup .filter-item.a, .adult  .secondGroup .filter-item.c, .adult .secondGroup .filter-item.j, .adult .secondGroup .filter-item.k, .adult .secondGroup .filter-item.l {
	overflow-y: scroll;
	height: 400px
}

.youth .secondGroup .filter-item.c, .youth .secondGroup .filter-item.j, .youth .secondGroup .filter-item.l, .youth .secondGroup .filter-item.m{
	overflow-y: scroll;
	height: 400px

}


.startBox{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* background: white */
}

.longBlack{
	height:2px;
	width:100%;
	background: black
}


.blackStick{
	height: 70px !important;
	width: 2px;
	background: black;


}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid{
	position: relative;
	overflow:hidden !important
}

.back-to-top{
	right:1%

}



.mobileOnlyAll, .mobileDash{
	display: none !important;
}


.topBlue {
	background: #B2E1FF;
	border-bottom:1px solid #004F7F;
	position: relative;
	width:100%;
}

.topBlue .rBorder {
	position: relative;
	width: calc(100% - 100px)
}



.rBorder {
	border-left:1px solid #004F7F;
	padding:1em 2em 1em 2em;
	position:relative;
	width:100%
}

.label{
	width:75px;
	display: flex;
	justify-content: center;
}

.rBorder p {
	color:black;
	margin-bottom:0em;
	font-weight: 300;
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 0em !important;
}

.topBlue .rBorder{
	padding:1em
}

.outerBorder{
	border:1px solid #004F7F;
}

.outerBorder h2 {
	color:#00559b;
	font-size:22px;
	font-weight:600;
	width:5em
}

.topBlue .rBorder h2 {
	margin: 0em !important;
	padding: .6em;
	width:10em

}



.startBox img {
	max-height: 200px;
	border-bottom:1px solid black
}

@media (min-width: 1200px){
	.container.bigger {
		max-width: 1300px;
	}
}


.blackBorder{
	width:100%;
	height:1px;
	background: black
}

/* .filter-item {
transition: background 1s, box-shadow 1s !important;
} */

/* .filter-attr-list:first-child{
margin-left:1em
} */

.tight p{
	line-height: 19px;
}

.no-border {
	border-bottom:none !important
}

.bTop{
	border-top:1px solid black;

}

@media (min-width:2501px){
	.col-lg-3 {

		flex: 0 0 18%;
		max-width: 18%;
	}
}


@media (min-width:2051px) and (max-width:2500px){
	.col-lg-3 {

		flex: 0 0 21%;
		max-width: 21%;
	}
}


@media (min-width:1801px) and (max-width:2050px){
	.col-lg-3 {

		flex: 0 0 25%;
		max-width: 25%;
	}
}


@media (max-width:1800px) and (min-width:1680px){
	.col-lg-3 {

		flex: 0 0 27%;
		max-width: 27%;
	}
}

@media (max-width:1679px) and (min-width:1300px){
	.col-lg-3 {

		flex: 0 0 29%;
		max-width: 29%;
	}
}

@media (max-width:1299px) and (min-width:991px){

	.col-lg-3 {

		flex: 0 0 27%;
		max-width: 27%;
	}
}
}

@media (max-width:767px){

	.ml-3 {
		margin-left: 0rem!important;
	}
	.mr-3{
		margin-right: 0rem!important;
	}


	.ml-5 {
		margin-left: 0rem!important;
	}
	.mr-5 {
		margin-right: 0rem!important;
	}
}

.filter-item {
	transition: all .3s;
	transition: background .3s, box-shadow .3s;

}

.relative{
	position:relative !important;
	width:100%;
	right:0;
	left:0
}


@media (max-width:1199px){
	p.text-center{

		margin-bottom:2em !important
	}

	p.text-center.margin0{
		margin-bottom:0em !important
	}

	.smallest {
		font-size: 10px !important;
		margin-top: 0;
		max-width: none;
		line-height: 15px !important;
		text-align: center;
	}



}

@media (max-width: 1199px) and (min-width: 992px) {
.container.bigger {
    max-width: 880px !important;
}
}


@media (max-width:991px){
	.back-to-top{
		display: flex
	}

	.filter-item{

		height:auto !important;

	}


	.rBorder {

		padding: 1em 1em 1em 1em;

	}


}

@media (max-width:767px) {
	.label{
		width:75px;
	}

  .guide-overlay {
    position: relative;
    padding-bottom: 7em;
}
.letter {

    margin: 1em .3em;
}



	.position-fixed {
		position: relative !important;
	}

	.sticky {
		position: fixed !important
	}


	.mobileOnlyAll{
		text-align: center;
		font-size: 30px;
		margin: 0;
		padding: 0;
		background: #C4EDA1;
		border-radius: 1rem;
		width:100%;
    display: none
	}



  .mobileDash{
    display: block !important;
    margin-bottom:0em;
  }
	.secondGroup{
		position: relative !important;
		display: none
	}
.secondGrid{
	height:auto !important
}

	h4.landing-sec-H{
		margin-bottom:.5em
	}
	.filter-item{
		position: relative !important;
		height:auto !important;
		top:auto !important
	}


	.secondGroup .filter-item {
		overflow-y: scroll;
		height:250px !important;

	}

	.startBox img{
		height:auto;
		max-width:100%;

	}

.mobileBlue{
	background: #d9f0fe !important;
	font-weight:400 !important
}

	.five-column{
		padding: 0em 5em;
	}

	.pt-5{
		padding-top: 0rem!important;
	}

	.whiteBubble .grayLine{
		display: none;
	}

	.whiteBubble p.text-center {
    line-height: 19px;
    margin-bottom: 1em !important;
}

.ml-3 {
    margin-left: 0rem!important;
}

.mr-3 {
   margin-right: 0rem!important;
}

.p-5 {
    padding: 2rem!important;
}


	p.text-center{

		line-height: 19px;
		margin-bottom:1em !important
	}

	.rBorder .row .d-flex{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.grid{
		height:auto !important
	}
	.whiteBubble{
		  margin: 1em 0em 1em 0em;
	}

	.showIt{
		display: block !important
	}

	.rotateAll{

		transform: rotate(180deg)
	}
}
